services:
  db:
    image: postgres:16

    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}

    ports:
      - "5432:5432"

    volumes:
      - postgres_data_kanban:/var/lib/postgresql/data

volumes:
  postgres_data_kanban: